:root {
    --theme-gradient: linear-gradient(to right, #2d323e 0%, #16191f 100%);
    --app-orange: #f4ab22;
    --app-link-color: #a57d33;
    --orange-btn-border-color: #f4aa21;
    --orange-btn-color: #1c2027;
    --app-blue: #23282d;
    
    --blue-btn-border-color: #254769;
    --success-color: #0c9837;
}
/* =====================================================================
 * ========== LABOR GENERAL FRONT-END STYLES ===============
 * ==============================================
 */
body{
    font-family: sans-serif;
}
a,
a:visited{
    color: var(--app-link-color);
}
.entry .entry-content a {
    text-decoration: none;
}
.image-filters-enabled .site-header.featured-image:after {
    opacity: 0.8;
}
.site-header.featured-image {
    min-height: 50vh;
}
.site-header{
    background: linear-gradient(to right, #2d323e 0%, #16191f 100%);
    color: white;
}
.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
    padding: 10px 30px;
    border-top: 3px solid var(--blue-btn-border-color);
    border-radius: 5px;
    height: 100% !important;
    width: auto;
    text-align: center;
    background-color: var(--app-blue);
    color: white;
    box-shadow: 0 0 10px #00000045;
    transition: .5s;
    font-weight: 300;
}

/* =====================================================================
 * ========== LEARNING PRESS ===============================
 * ==============================================
 */
body.course-item-popup #learn-press-content-item {
    width: 100%;
}
/* HIDE INSTRUCTOR SECTION */
li.course-nav.course-nav-tab-instructor {
    display: none;
}
nav.learn-press-breadcrumb {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
.primary-background-color{
    color: var(--app-orange) !important;
}
.learn-press-progress .progress-bg .progress-active{
    background: var(--app-orange) !important;
}
.course-meta {
    color: #757575;
}
.course-meta:before{
    content: '\1F393';
    width: 32px;
    height: 32px;
    display: inline-block;
}
ul.learn-press-nav-tabs .course-nav.active:after, ul.learn-press-nav-tabs .course-nav:hover:after {
    background: var(--app-blue) !important;
}
ul.learn-press-nav-tabs .course-nav a {
    font-size: 16px !important;
}
#learn-press-content-item #course-item-content-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: inherit;
    background: var(--theme-gradient);
    color: white;
}
#learn-press-content-item #course-item-content-header .course-item-search{
    order: 1;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    float: none;
}
#learn-press-content-item #course-item-content-header .course-title{
    order: 2;
    margin: 0 !important;
    float: none;
    height: auto;
    color: white;
}
#learn-press-content-item #course-item-content-header .course-title a{
    color: white;
}
#learn-press-content-item #course-item-content-header .toggle-content-item{
    order: 4;
    float: none;
    color: white;
}
#learn-press-content-item #course-item-content-header .toggle-content-item:focus {
    text-decoration: none;
    outline: none;
}
#learn-press-content-item #course-item-content-header .lp-button-back{
    order: 3;
    margin: 0;
    float: none;
}
#learn-press-content-item #course-item-content-header .lp-button-back .lp-button{
    height: auto;
    background-color: var(--app-orange);
    color: var(--orange-btn-color);
    border-color: var(--orange-btn-border-color);
}
h3.course-item-title.quiz-title {
    text-align: center;
}
.quiz-result .result-grade .result-achieved {
    font-size: 36px;
    border-bottom: 2px solid var(--success-color);
}
.quiz-result.passed .result-achieved {
    color: var(--success-color);
}
.learn-press-course-results-progress .items-progress .lp-course-status .grade.passed, .learn-press-course-results-progress .course-progress .lp-course-status .grade.passed {
    background: var(--success-color) !important;
}



/* =====================================================================
 * ========== MEDIA QUERIES ===============================
 * ==============================================
 */

/* MAX 768 - Using "max-width" because it's overwriting plugin css */
@media screen and (max-width: 768px) {
    /* LEARNING PRESS */
    body.course-item-popup #learn-press-course-curriculum {
        width: 300px !important;
    }
    #course-item-content-header .form-button.lp-button-back button {
       font-size: 12px;
    }
    #course-item-content-header .course-title a {
        font-size: 16px;
    }
}
/* MIN 768 */
@media (min-width: 768px) {
    #learn-press-content-item #course-item-content-header{
        justify-content: flex-end;
    }
    #learn-press-content-item #course-item-content-header .lp-button-back{
        margin-right: 15px;
    }
    ul.learn-press-nav-tabs .course-nav a {
        font-size: inherit;
    }
}
