
/* Admin button rules */
.labor-btn {
  padding: 10px 30px;
  border-top: 3px solid #254769;
  border-radius: 5px;
  height: 100%;
  width: auto;
  text-align: center;
  background-color: var(--app-blue);
  color: white;
  box-shadow: 0 0 10px #00000045;
  transition: .5s;

  &:hover {
    border-top: 3px solid orange;
    background-color: #3c454e;
    box-shadow: none;
    cursor: pointer;
  }
}

/* Public button rules */
.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
  &.labor-btn {
    padding: 10px 30px;
    border-top: 3px solid #254769;
    border-radius: 5px;
    height: 100%;
    width: auto;
    text-align: center;
    background-color: var(--app-blue);
    color: white;
    box-shadow: 0 0 10px #00000045;
    transition: .5s;

    &:hover {
      border-top: 3px solid orange;
      background-color: #3c454e;
      box-shadow: none;
      cursor: pointer;
    }
  }
}