@import "globals";
@import "mixins";
@import "skill-row";
@import "buttons";

/* =========================================
 * POINTS TABLE
 * =========================================
 */
.points-table {
  width: 100%;

  tr {
    background-color: #f7f7f7;

    td {
      padding: 7px 8px;
      font-size: 13px;
      text-align: left;
    }
  }
}

/* =========================================
 * APP TABLE STYLE
 * =========================================
 */
.app-table {
  width: 100%;
  margin: 18px 0px 5px;

  tr {
    &:nth-child(even) {
      background-color: #efefef;
    }

    td {
      padding: 5px 10px;

      &:nth-child(odd) {
        font-weight: bold;
        color: #5a5a5a;
      }
    }
  }

}


/* =========================================
 * FOREMAN FORM
 * =========================================
 */

/* STRUCTURE */

.behavior-note {
  display: none;
  padding: 10px;
  width: 100%;
}
.swiper-container {
  width: 100%;
  max-width: 550px;
  margin: 0;
}
.swiper-wrapper{
  height: 79vh;
}
.swiper-pagination.swiper-pagination-progressbar {
  bottom: 0;
  top: 5px;
  position: relative;
  width: 97%;
  margin: 10px auto 17px;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #f7bb30;
}
.time-field {
  margin-left: 4px;
  margin-bottom: 8px;
}
ul.worker-of-the-day{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  min-height: 200px;
}
.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  height: 7vh;
}
#foreman-form-page {
  padding-right: 10px;
  font-size: 16px;

  .card {
    margin-right: 0.9%;
    margin-left: 0.9%;
    padding: 5% 7% 5%;
    margin-top: 11px;
    text-align: center;
  }
}
#foreman-form-page .swiper-slide.ffp-slide{
  overflow: scroll;
}
#foreman-form-page .swiper-slide.ffp-slide h3 {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 2%;
}
#foreman-form-page .row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
#foreman-form-page .row input,
#foreman-form-page .row select {
  width: auto;
  text-align: center;
  min-width: 220px;
}
#foreman-form-page .row label {
  width: 100%;
  text-align: center;
  margin: 10px 0 20px;
}
#foreman-form-page .progress-bar {
  border: 1px solid #2d692f;
  border-radius: 5px;
  padding: 2px;
}
#foreman-form-page .progress-bar div{
  background-color: #4CAF50;
  color: white;
  padding: 5px;
  border-radius: 5px;
  width: 1%;
  transition: 1.5s;
}
.ffp-slide .radio-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.ffp-slide .radio-box h5{
  margin: 0;
}
.ffp-slide .radio-box ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#foreman-form-page .ffp-slide .time-row {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  justify-content: space-between;
  padding: 5% 2% 5%;
}
.ffp-slide .time-row label {
  font-size: inherit;
}
.ffp-slide .time-row input {
  font-size: inherit;
  margin-left: 4px;
  margin-bottom: 8px;
}
.ffp-slide .time-row div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 48%;
}
.ffp-slide .daily-points p strong {
  font-size: 1.5em;
}
.error {
  color: red;
}
#js-workers-error-message{
  visibility: hidden;
}
#foreman-form-page .row.row-checkbox {
  flex-direction: row;
  justify-content: center;
  margin: 7% 0;
}
#foreman-form-page .row.row-checkbox input {
  width: auto;
  min-width: 25px;
  margin-right: 8px;
}
#foreman-form-page .row.row-checkbox label {
  margin: 0;
  width: auto;
}
#foreman-form-page .row.row-fileupload input {
  border: 1px solid #ffd242;
  border-radius: 5px;
  width: 100%;
}
#foreman-form-page input[type="file" i]::-webkit-file-upload-button {
  background-color: #fbcc42;
  border-radius: 5px;
  color: black;
  margin-left: 3px;
  box-shadow: none;
  border: none;
  padding: 5px;
}
.error-field{
  border: 3px solid #e27575 !important;
}
.tasks-completed-foreman-form-row {
  display: grid;
  grid-template-columns: 40% 13% 15% 1fr;
  grid-template-rows: 50px;
  grid-column-gap: 10px;
  align-items: center;
  padding: 0 15px;
  @include xs {
    grid-template-columns: 50% 13% 15% 1fr;
  }

  div {
    font-size: 11px;
    @include xs {
      font-size: 16px;
    }
  }

  &.tasks-completed-foreman-form-row--header {
    grid-template-columns: 40% 13% 15% 1fr;
    @include xs {
      grid-template-columns: 50% 13% 15% 1fr;
    }

    div {
      font-size: 11px;
      @include xs {
        font-size: 16px;
      }
    }
  }

  &:nth-child(odd) {
    background: aliceblue;
  }
  &__name {
    text-align: left;
  }
  &__today {
    input {
      width: 100%;
    }
  }
}

/* CHART JS SECTIONS */
.card.chart-secction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  align-content: center;
}


/* SKIN */





/* WORKER AVATAR CARD - LIST VIEW */

ul.worker-of-the-day li{
  list-style: none;
  background: var(--app-blue);
  color: white;
  text-align: center;
  transition: .5s;
  box-shadow: 1px 1px 5px grey;
  border-radius: 5px;
  overflow: hidden;
  margin: 2px;
  transition: .5s;
}
ul.worker-of-the-day li.selected{
  background: orange;
  color: var(--app-blue);
  box-shadow: none;
}
ul.worker-of-the-day li.selected span{
  transform: translateY(26px);
}
ul.worker-of-the-day li p{
  margin: 0;
  padding: 5px 5px 0;
  max-width: 79px;
  word-break: break-all;
}
ul.worker-of-the-day li img{
  max-width: 90px;
}
ul.worker-of-the-day li span{
  font-size: 2rem;
  color: white;
  text-shadow: 1px 1px 1px #0000004a;
  line-height: 1;
  background: none;
  border: none;
  margin-top: -4px;
  transition: .5s;
  display: block;
}
ul.worker-of-the-day li:hover{
  cursor: pointer;
}



/* WORKER AVATAR CARD - SINGLE VIEW */
.header-single-worker{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-single-worker img{
  max-width: 90px;
  border-radius: 5px;
  border-bottom: 3px solid #f6ab22;
}
.header-single-worker .worker-pagination-count{
  margin-left: 20px;
}
.header-single-worker ul.worker-of-the-day li span {
  display: none;
}


.header-single-worker ul.worker-of-the-day li .wftd-name {
  font-size: 9px;
  padding: 4px 0;
}
/*#foreman-form-page input[type=checkbox],*/
/*#foreman-form-page input[type=radio] {*/
/*height: 18px;*/
/*width: 18px;*/
/*}*/




/* FORM STATE */
.show-last-slide{
  display:none;
}

#wpadminbar .quicklinks ul {
  text-align: right;
}


/* sweet alert */
.swal2-styled.swal2-confirm {
  background-color: var(--app-blue) !important;
}

/* wpDataTable */
.wpDataTables.wpDataTablesWrapper {
  padding: 4% 4% 4% 0;
}

#wpwrap #wpcontent .wpDataTablesWrapper table.scroll {
  width: 100% !important;
}




/* role plugin responsive style fix */
select#ure_select_other_roles {
  width: 100% !important;
  max-width: 500px;
}

.ms-parent {
  width: 100% !important;
  max-width: 500px;
}

/* profile chart cards styles */
#profile-page .card.profile-performance-card {
  padding-top: 70px;
}
#profile-page .card {
  max-width: none;
  padding: .7em 1em 1em;
}

/* METABOX */

#labor_tomorrows_plan_widget {
  max-height: 482px;
  overflow-y: scroll;
}
.tomorrows-plan .user-card {
  display: flex;
}

.tomorrows-plan .user-card img {
  margin-right: 16px;
}

/* wp user unwanted fields */
table.uwp-profile-extra-table.form-table {
  display: none;
}

// ** PROJECTS TABLE ROWS ** //

.project-row-lead-foreman-card {
  display: grid;
  grid-template-columns: min-content auto;
  grid-column-gap: 20px;
  align-items: center;

  &__image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

// ** HIDE UNWANTED PROFILE FIELDS ** //
tr.user-rich-editing-wrap,
tr.user-admin-color-wrap,
tr.user-comment-shortcuts-wrap,
tr.show-admin-bar.user-admin-bar-front-wrap,
tr.user-url-wrap,
tr.user-description-wrap,
div#application-passwords-section
{
  display: none;
}

// ** PROFILE SKILL GRAPH ** //
.card.profile-skills-card {
  max-height: 400px;
}

@media screen and (max-width: 782px){
  .auto-fold #adminmenu a.menu-top {
    height: 45px;
  }
}

@media (min-width: 783px){
  .small-logo {
    background-image: url(../images/labor-logo-xs.png) !important;
    background-position: center;
    background-repeat: no-repeat;
    color: rgba(0, 0, 0, 0);
    width: 36px;
    height: 36px;
    margin: 0 auto;
  }
}